@import "@/assets/fonts/WixMadeforDisplay/WixMadeforDisplay.css";
/* @import "@/assets/fonts/Geologica/Geologica.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title-1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .button-title {
    font-size: 15px;
    line-height: 26px;
    padding: 14px 30px;
  }
}

:root {
  font-family:
    Wix Madefor Display,
    system-ui,
    Helvetica,
    sans-serif;
  /* поправить шрифты */
  padding: 0;
}

body {
  background-color: #f6f7fb;
  /* max-width: 1440px;
  width: 100%;
  margin: 0 auto; */
}
